#root {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.column {
  flex: 1;
  display: flex;
  justify-content: center;
  text-align: left;
  padding: 20px;
}

.left-column {
  flex-direction: column;
  background-color: #fdfdfd;
  padding: 80px;
  gap: 80px;

  .logo {
    max-width: 173.76px;
    margin-bottom: 40px;
  }

  .illustration {
    max-width: 100%;
  }
}

.right-column {
  flex-direction: column;
  padding: 60px 80px;

  h1 {
    font-size: 40px;
    color: #213F7D;
    font-weight: 700;
    line-height: 0;
    text-align: left;
  }

  p {
    font-size: 1rem;
    color: #6c757d;
    text-align: left;
  }

  form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .form-group {
      margin-bottom: 20px;

      label {
        display: block;
        margin-bottom: 5px;
        color: #495057;
      }

      input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;  // Ensure padding is included in the width
      }

      .password-input {
        position: relative;

        input {
          width: 100%;
          padding-right: 60px; // Add some padding to the right to accommodate the show button
        }

        .show-password {
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          background: none;
          border: none;
          color: #007BFF;
          cursor: pointer;
        }
      }
    }

    .forgot-password {
      margin-bottom: 20px;
      color: #007BFF;
      text-decoration: none;
      font-size: 0.875rem;
    }

    .login-button {
      width: 100%;  // Ensure the login button is the same width as input fields
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: #00C1D4;
      color: white;
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        background-color: #007BFF;
      }
    }
  }
}
